{{#if (eq model.action "create")}}
  <div
    class="search-result-row flex p-4"
  >
    <span class="text-2xl">
      {{model.label}} Not found, create it...
    </span>
  </div>
{{else}}
  <button
    class="search-result-row flex w-full p-4 hover:bg-blue-lightest {{if highlighted "bg-blue-lightest" "bg-white"}}"
    {{action onSelect}}
  >
    <span
      class="text-2xl hover:text-black {{if highlighted "text-black" "text-grey"}}"
    >
      {{model.label}}
    </span>
  </button>
{{/if}}
