<span class="logo">
  <a href="#" {{action navigateTo 'productions'}}>you pressed</a>
</span>

{{#if session.isAuthenticated}}
  <div class="grid-noGutter-middle">
    {{ui/label-button
        class='main-menu-button col'
        label='Productions'
        onClick=(action navigateTo 'productions')}}

    {{ui/label-button
        class='main-menu-button col'
        label='Settings'
        onClick=(action navigateTo 'products')}}
  </div>
{{/if}}

<div class="col stretch"></div>

{{#if session.isAuthenticated}}
  <div class="account-ui-container grid-noGutter-middle">
    <span>{{session.session.authenticated.profile.email}}</span>
    <span class="divider">|</span>

    {{ui/label-button
        class='main-menu-button col'
        label='Logout'
        onClick=logout}}
  </div>
{{else}}
  <button type="button" name="button" {{action login}}>Login</button>
{{/if}}
