{{!-- <div class="flex flex-col items-center min-h-screen min-w-full pt-12">
    <div class="w-9/11">
      <h1 class="section-title">
        {{title}}
      </h1>
    </div>
    <div class="w-7/11">
      <div class="card-yellow">
        {{yield}}
      </div>
    </div>
</div> --}}

{{#containers/section-container title="Edit Product"}}
  <div class="card-blue mt-8 flex">
    <p class="text-5xl font-light p-4 pl-8 text-grey-dark">{{model.label}}</p>

  </div>
{{/containers/section-container}}


{{!-- {{forms/node-info-form
  title="Product Editor"
  instructions="Add the basic info for this product."
  model=model
  handleUpdate=handleUpdate
}}

{{forms/node-children-form
  title="Product Recipe"
  validNodes=validNodes
  model=model
  addNode=addNode
  handleUpdate=handleUpdate
  createAndAddNode=createAndAddNode
  cloneGrandCentralNode=cloneGrandCentralNode
  deleteEdge=deleteEdge
}}

{{forms/delete-node-form
  destroyNode=destroyNode
  destroyLabel="Delete Product"
  nodeLabel=model.label
  node=model
}} --}}
