<div
  class="py-2 px-4 text-3xl font-light mb-4 border draggable-row flex justify-between"
  data-test-date-row-label
  data-test-date-row-total-count
>
  <div class="flex">
    <button
      class="text-2xl justify-center hover:text-red text-grey-dark"
      onclick={{action "showDestroyDialog"}}
    >
      {{fa-icon "trash"}}
    </button>

    <span class="pl-4">{{moment-format model.date "MM/DD/YYYY"}}</span>
  </div>

  <span>{{totalCount}} units</span>
</div>

{{#if isDestroyingNode}}
  {{dialogs/destroy-node
    cancel=(action (mut isDestroyingNode) false)
    destroyNode=(action "handleDestroy")
    model=model
  }}
{{/if}}
