<div class="flex flex-col shadow-md bg-blue-lightest w-full">
  <div class="text-5xl font-bold text-grey-darkest p-12">
    Edit Production
  </div>
  <div class="flex-row md:flex items-baseline justify-between pl-12 pr-12 pt-4 pb-4">

    <div class="flex-row md:flex items-baseline">
      <p class="text-2xl mr-4 mb-12 md:mb-0">Production for:</p>
      <label class="border-4 p-2 pl-4 pr-4 bg-white border-grey-light text-lg hover:border-grey">
        {{pikaday-input format="ddd MM/DD/YY" value=model.date onSelection=updateProductionDate}}
      </label>
    </div>

    <div class="invisible md:visible">
      {{ui/async-button
          label='Print Production Sheets'
          icon='print'
          onClick=(action 'printAll')}}
    </div>
  </div>

  <div class="flex pl-12 pr-12 pt-4 pb-4 bold text-2xl justify-between items-baseline bg-blue-light text-white">
    <div class="flex items-baseline">
      <div class="w-10">#</div>
      <div class="label-col">Product Name</div>
    </div>

    <div class="w-24">Total</div>
  </div>

  <div class="pl-12 pr-12 pt-6">
    {{#each sortedRow as |edge index|}}
      <div class="flex justify-between items-baseline pt-2 pb-2 border-b-2 border-grey-light">

        <div class="flex items-baseline">
          <div class="mr-2 w-10 text-lg italic">
            {{inc index}}.
          </div>

          {{#link-to 'products.show' edge.b.id tabindex="-1"}}
              <div class="text-2xl bold hover:border-blue-light border-b-4 border-blue-lightest">
                {{edge.b.label}}
              </div>
          {{/link-to}}
        </div>

        {{one-way-input edge.q
            class='p-2 border-2 border-blue-lighter text-2xl w-24 focus:border-blue'
            update=(action 'handleQuantityUpdate' edge)
            onblur=(action 'handleQuantityBlur' edge)}}
      </div>
    {{/each}}
  </div>
</div>
