<div class="content-container w-full">
  <div class="header-container row">
    <div class="date-container row">
      <span class="label">Production for:</span>
      <div class="spacer hide-mobile"></div>
      <label class="date">
        {{pikaday-input format="ddd MM/DD" value=model.date onSelection=updateProductionDate}}
      </label>
    </div>
    <div>
      <div class="ui-container hide-mobile">
        {{ui/async-button
            label='Print Production Sheets'
            icon='print'
            onClick=(action 'printAll')}}
      </div>
    </div>
  </div>

  <div class="product-container-header row">
    <div class="index-col">#</div>
    <div class="label-col">Product Name</div>
    <div class="stretch"></div>
    <div class="qty-col">Total</div>
  </div>

  <div class="dashed-hr"></div>

  <div class="layout-col products-container">
    {{#each sortedProducts as |edge index|}}
      <div class="row product-row">
        <div class="index-col">
          {{inc index}}.
        </div>
        <div class="label-col row">
          {{#link-to 'products.show' edge.b.id class='product-link-button row' tabindex="-1"}}
              <div class="label">
                {{edge.b.label}}
              </div>
              <div class="ui-container">
                {{ui-icon 'pencil'}}
              </div>
          {{/link-to}}
        </div>
        <div class="stretch"></div>
        <div class="qty-col">
          {{one-way-input edge.q
              class='edge-qty'
              update=(action 'handleQuantityUpdate' edge)
              onblur=(action 'handleQuantityBlur' edge)}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
