{{#power-select
    options=products
    selected=selectedProduct
    onchange=addProductToProduction
    as |node|}}
      {{node.label}}
{{/power-select}}

{{#each model.children as |edge|}}
  <div class="row">
    {{edge.b.label}} - {{one-way-input edge.q class='edge-qty' update=(action handleUpdate edge "q")}}
  </div>
{{/each}}

<hr>

<h4>Product Cards:</h4>
<div class="col">
  {{#each-in model.normalizedChildren as |key nodeData|}}
    {{#if (eq nodeData.node.type 'product')}}
      {{cards/product-card model=nodeData}}
    {{/if}}
  {{/each-in}}
</div>

<hr>
<h4>Ingredients:</h4>
<div class="col">
  {{#each-in model.normalizedChildren as |key nodeData|}}
    {{#if (eq nodeData.node.type 'ingredient')}}
      <div class="row">
        {{nodeData.node.label}} - {{nodeData.factor}}
      </div>
    {{/if}}
  {{/each-in}}
</div>
