<div class="inner-container">
  <div class="header layout-row">
    <span class="index">
      #{{index}}.
    </span>
    <span class="title">
      {{model.node.label}}
    </span>
    <span class="flex"></span>
    <span class="count">
      {{model.factor}}
    </span>
    <span class="uom">
      ct
    </span>
  </div>

  <div class="layout-col line-item-container">
    {{#each model.node.children as |edge index|}}
      {{cards/product-card/line-item
          index=(inc index)
          model=edge
          factor=model.factor}}
    {{/each}}
  </div>

  {{#if hasNote}}
    <div class="notes">
      {{model.node.note}}
    </div>
  {{/if}}

</div>
