<div class="flex items-baseline">
  <div class="w-10">
    {{index}}.
  </div>

  <div class="text-lg w-64 hover:border-2 border-blue">
    {{link-to model.b.label (node-link-path model.b) model.b.id}}
  </div>

  <div class="flex items-center mr-2">
    {{one-way-input model.q class='p-2 w-16 border-2 border-grey-light focus:border-grey mr-2' update=(action handleUpdate model "q")}}
    {{one-way-input model.notes class='p-2 w-32 border-2 border-grey-light focus:border-grey' update=(action handleUpdate model "notes")}}
  </div>

  <div class="w-24">
    {{#power-select
        class='options-select'
        selected=model.uom
        options=uoms
        onchange=(action handleUpdate model "uom")
        as |option|}}
          {{option}}
    {{/power-select}}
  </div>

  <div class="ml-4 cursor-pointer" {{action (action deleteEdge model)}}>X</div>
</div>
