<div class="flex items-center justify-between py-2 px-12 text-3xl font-light mb-4 border draggable-row group"
  data-test-label-row>
  <span class="text-lg text-grey-darker absolute -ml-8 invisible group-hover:visible">
    {{fa-icon "reorder"}}
  </span>

  {{index}}. {{model.label}}

  <div class="flex items-center justify-between">
    {{input
    class=" mr-4"
    type="checkbox"
    checked=(not model.excludeInPrinting)
    change=(action "toggleExcludeInPrinting")
    }}

    {{ui/icon-label-button
    class="text-lg text-grey-darker absolute pin-r mr-16 invisible group-hover:visible"
    click=(action "showDetail")
    icon="angle-right"
    }}
  </div>
  {{!-- <span class="text-lg text-grey-darker absolute pin-r mr-16 invisible group-hover:visible">
    {{fa-icon "angle-right"}}
  </span> --}}
</div>