{{#modal-dialog onClose=cancel translucentOverlay=true containerClass=componentCssClassName}}
  <div class="header">
    <span class="title">Create new ingredient</span>
    <div class="ui-container">
      <button onclick={{action cancel}}>X</button>
    </div>
  </div>

  <div class="content">
    <div class="label form-field">
      {{ui/desc-input
          value=label
          description='Ingredient name'
          placeholder='Start typing...'
          update=(action (mut label))}}
    </div>
    <div class="description form-field">
      {{ui/desc-input
          value=description
          description='Ingredient description'
          placeholder='Start typing...'
          update=(action (mut description))}}
    </div>
    <div class="uom-container form-field">
      <div class="instructions">
        We use this by the
      </div>
      <div class="uom">
        {{#power-select
            selected=uom
            options=uoms
            onchange=(action (mut uom))
            as |uom|}}
              {{uom}}
        {{/power-select}}
      </div>
    </div>
  </div>

  <div class="ui-container">
    <button onclick={{action cancel}}>Cancel</button>
    <button onclick={{action 'handleSubmit'}}>Create</button>
  </div>
{{/modal-dialog}}
