<div class="btn-blue {{if loading "cursor-wait"}}">
  <span class="text-lg mr-2">{{label}}</span>
  <div class="w-10 flex justify-center">
    {{#if loading}}
      {{fa-icon "cog" spin=true}}
    {{else}}
      {{fa-icon icon}}
    {{/if}}
  </div>
</div>
