<div class="uppercase text-lg text-blue-dark">
  {{description}}
</div>

<input
  class="text-4xl bg-transparent border-b border-grey font-light"
  placeholder={{placeholder}}
  value={{value}}
  oninput={{action update value="target.value"}}
  data-test-desc-input="input-{{dataTestId}}"
>