<input
  class="node-label"
  placeholder={{placeholder}}
  value={{value}}
  oninput={{action update value="target.value"}}
  data-test-desc-input="input-{{dataTestId}}"
>

<div class="description">
  {{description}}
</div>
