<div class="flex items-center w-full">
  <div class="flex w-6/7 card-blue">
    <input
      data-test-node-name
      class="text-5xl font-light p-4 pl-8 text-grey-darker bg-transparent w-full"
      value={{model.label}}
      placeholder={{concat "Untitiled " model.nodeName}}
      oninput={{action
        (action
          handleUpdate
          model
          "label")
        value="target.value"
      }}
    >
  </div>
  <div
    class="flex justify-center w-1/7 text-2xl text-grey-dark"
    tabindex="-1"
  >
    <div class="w-10 flex justify-center">
      {{fa-icon "cog"}}
    </div>
    <button
      class="w-10 flex justify-center hover:text-red text-grey-dark"
      tabindex="-1"
      {{action (mut isDestroyingNode) true}}
    >
      {{fa-icon "trash"}}
    </button>
  </div>
</div>

{{#if isDestroyingNode}}
  {{dialogs/destroy-node
    cancel=(action (mut isDestroyingNode) false)
    destroyNode=destroyNode
    model=model
  }}
{{/if}}
