{{#modal-dialog onClose=cancel translucentOverlay=true containerClass=componentCssClassName}}

  <div class="wrapper">
    <div class="header">
      <span class="title">Delete {{nodeLabel}}</span>
      <div class="ui-container">
        {{ui/icon-label-button
            class='btn-blue'
            click=cancel
            icon='times'}}
      </div>
    </div>

    <div class="content">
      Are you sure you want to delete {{nodeLabel}}?
      This cannot be undone.
    </div>

    <div class="ui-container">
      {{ui/icon-label-button
          class='btn-blue'
          click=cancel
          label='Cancel'
          icon='cancel'}}

      {{ui/icon-label-button
          class='btn-red'
          click=(action 'handleSubmit')
          label='Delete'
          icon='trash'}}
    </div>

  </div>

{{/modal-dialog}}
