<div class="relative">

  {{#if session.isAuthenticated}}
      {{#burger-menu
        class="w-full flex flex-1 flex-col items-left" as |burger|}}
        {{#burger.menu
            itemTagName="li"
            dismissOnItemClick=true as |menu|}}

          <div class="flex justify-end">
            {{ui/icon-label-button
                class='p-4 text-5xl'
                icon='close' onClick=(action burger.state.actions.close)}}
          </div>

          <ul class="m-0 p-0">
            {{#menu.item}}
              {{link-to 'Productions' 'productions'}}
            {{/menu.item}}

            {{#menu.item}}
              {{link-to 'Products' 'products'}}
            {{/menu.item}}

            {{#menu.item}}
              {{link-to 'Recipes' 'recipes'}}
            {{/menu.item}}

            {{#menu.item}}
              {{link-to 'Ingredients' 'ingredients'}}
            {{/menu.item}}

            {{#menu.item}}
              {{link-to 'Settings' 'settings'}}
            {{/menu.item}}
          </ul>
        {{/burger.menu}}

        {{ui/icon-label-button
            class='menu-toggle pin-t pin-l absolute p-4 text-5xl'
            icon='bars' onClick=(action burger.state.actions.toggle)}}

        <div class="min-h-screen w-full self-center mt-24">
            {{#burger.outlet}}
                {{outlet}}
            {{/burger.outlet}}
        </div>

      {{/burger-menu}}
  {{/if}}

</div>
<!-- {{intercom-io}} -->
